<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 ie"> <![enFTf]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 ie"> <![enFTf]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 ie"> <![enFTf]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9 ie"> <![enFTf]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="" class="no-js"> <!--<![enFTf]-->

<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<meta name="viewport" id="metaviewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />

<title>{{h.siteName}}</title>
<meta name='description' content='{{h.description}}' />
<link rel="canonical" href="{{h.canonical}}" />

<meta property="og:title" content="{{h.socialTitle}}">
<meta property="og:description" content="{{h.socialContent}}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{h.socialImage}}">

<!-- JS
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


<!-- CSS
================================================== -->

<link rel="stylesheet" href="https://use.typekit.net/dgv6gev.css">
<link rel="stylesheet" href="/assets/css/normalize.css" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/media-queries.css" />
<link rel="stylesheet" href="/assets/css/fonts.css" />

<!-- BUILT CSS
================================================== -->
<link rel="stylesheet" href="/build/stylesheets/main.css" />


<!-- LIBS
================================================== -->
 

<!-- Analytics
================================================== -->

<script>
	var FT_GLOBALS = {};
	FT_GLOBALS.pageName = "/" + '{{version}}'
</script>

<!-- Google Analytics -->
<script>


</script>
<!-- End Google Analytics -->

<script>

</script>

<!-- End Facebook Pixel Code -->

</head>