{{> head }}

<body class="home">

	<div class="app-container">

		<div class="section header clearfix">
			{{> header }}
		</div>
		<div class="below-header"><div class="below-header-inside">
			<div class="container">
				
				

				<div class="google-selected-accounts">
						
					{{#if googleUser }}		

						<h2 class="with-line"><i class="fab fa-google"></i> Google Analytics</h2>	
						<h2 class="label fb-account">Connected as: {{googleUser.email}}</h2>		
						<h2 class="select-view-google-text label ga-account">
							To Account: {{googleUser.account_name}} : {{googleUser.property_name}} - {{googleUser.view_name}}
						</h2>

						{{#each metrics}}

							<h4>{{@key}}</h4>

							<p>{{toJSON this}}</p>

						{{/each}}
				
					{{/if}}


					{{#if facebookUser }}			

						<h2 class="with-line"><i class="fab fa-facebook"></i> Facebook</h2>	
						<h2 class="label fb-account">Connected as: {{facebookUser.email}}</h2>
						<h2 class="select-view-facebook-text label fb-account">
							To Account: {{facebookUser.account_name}}
						</h2>

						{{#each metrics}}

							<h4>{{@key}}</h4>

							<p>{{toJSON this}}</p>

						{{/each}}

					{{/if}}
				

					

				</div>


			</div>
			<div class="section gutter footer">
				{{> footer }}
			</div>
		</div>
	</div>	
</div>

<div class="test"></div>
	
	{{> scripts }}


</body>

</html>
