{{> head }}

<body class="home">

	<div class="app-container">

		<div class="section header clearfix">
			{{> header }}
		</div>

		<div class="below-header"><div class="below-header-inside">

			<div class="container">
					<div class="row clearfix" id="connect-sources">

						<h2 class="with-line">Connect API Sources</h2>

						<div class="two-col cols">
							<div class="col last">

                                <div class="connector">

                                    <h2 class="with-line"><i class="fab fa-facebook"></i> Facebook</h2>

                                        <ul class="connectors-list">
                                            {{#if facebook_data }} 
                                             <li><i class="fab fa-facebook"></i><h4>Connected</h4></li>                                           
                                            {{else}}  
                                            <li><i class="fab fa-facebook"></i><h4>Disconnected</h4></li>                                           
                                            {{/if}}                                            
                                        </ul>

                                    <div class="facebook-accounts">
                                        {{#if facebook_data }}
                                            {{#if (hasOwn facebook_data 'matric_data')}}
                                                {{facebook.metric_data}}
                                            {{/if}}

                                            {{#if (hasOwn facebook_data 'dialog_data')}}
                                                <div class="select-facebook-view modal">
                                                    <div class="modal-header">
                                                        <h3 class="with-line"><i class="fab fa-facebook"></i>Select Facebook View</h3>					
                                                    </div>
                                                    <div class="modal-body">											
                                                        <ul class="views-list">
                                                            {{#each facebook_data.dialog_data as |account|}}
                                                                <li class="fb-account">
                                                                    <a href='/facebook/setprofile/?account_id={{account.account_id}}&account_name={{account.account_name}}&account_token={{account.account_token}}'>
                                                                        {{ account.account_name }}
                                                                    </a>
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">

                                                    </div>
                                                </div>
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                </div>
						    </div>
						</div>
					</div>
				</div>

			</div>

			<div class="section gutter footer">
				{{> footer }}
			</div>

		</div>
	</div>	

</div>

<div class="test"></div>
	
	{{> scripts }}

</body>

</html>
