{{> head }}

<body class="home">

	<div class="app-container">

		<div class="section header clearfix">
			{{> header }}
		</div>

		<div class="below-header"><div class="below-header-inside">

			<div class="container">
					<div class="row clearfix" id="connect-sources">
                        <a class="redirect" href="/data/google">Back</a>
						<h2 class="with-line">Connect API Sources</h2>

						<div class="two-col cols">

                            <div class="col first">

                                <div class="connector">

                                    <h2 class="with-line"><i class="fab fa-google"></i> Google Analytics</h2>

                                    <ul class="connectors-list">
                                        {{#if google_data }}
                                        <li><i class="fab fa-google"></i><h4>Connected</h4></li>
                                        {{else}}
                                        <li><i class="fab fa-google"></i><h4>Disconnected</h4></li>
                                        {{/if}}
                                    </ul>
                                    <div class="google-accounts">
                                        <div class="select-google-view modal">
                                            <div class="modal-header">
                                                <h3 class="with-line"><i class="fab fa-google"></i>Select Google View</h3>				
                                            </div>
                                            <div class="modal-body">
                                                <h4 class="label ga-account">=======Goals Data========</h4>
                                                <ul class="views-list">
                                                {{#each data.goals.goals as |goal|}}
                                                    <li class="ga-account ga-view">
                                                        <h5 class="label ga-account">Goal Name:   {{ goal.name }}</h5>
                                                    </li>
                                                    <li class="ga-account ga-view">
                                                        <h5 class="label ga-account">Goal ID:   {{ goal.id }}</h5>
                                                    </li>
                                                    <li class="ga-account ga-view">
                                                        <h5 class="label ga-account">Goal Type:   {{ goal.type }}</h5>
                                                    </li>
                                                {{/each}}    
                                                </ul>

                                                <h4 class="label ga-account">=======Metric Names========</h4>
                                                <ul class="views-list">
                                                {{#each data.goals.metricNames as |metricName|}}
                                                    <li class="ga-account ga-view">
                                                        <h5 class="label ga-account">Metric metricName:   {{ metricName.metricName }}</h5>
                                                    </li>
                                                    <li class="ga-account ga-view">
                                                        <h5 class="label ga-account">Metric Name:   {{ metricName.name }}</h5>
                                                    </li>                                                
                                                {{/each}}   
                                                </ul>                                               
                                            </div>
                                        </div>
                                    </div>                                                                  
                                </div>
                            </div>						
						</div>
					</div>
				</div>
			</div>
			<div class="section gutter footer">
				{{> footer }}
			</div>

		</div>
	</div>	

</div>

<div class="test"></div>
	
	{{> scripts }}

</body>

</html>
