{{> head }}

<body class="inline-form">

	<div class="app-container">

		<div class="section header clearfix">
			{{> header }}
		</div>
		<div class="below-header"><div class="below-header-inside">
			<div class="container">

                {{#if sessionFlash.message}}
                    {{#contains sessionFlash.type "info"}}
                    <div class="flash-message">
                        <p>{{{sessionFlash.message}}}</p>
                    </div>
                    {{/contains}}
                {{/if}}


				<div class="row clearfix" style="text-align: center;">

                    <form method="POST" action="/profile/" class="form">
                        
                            <h2 class="with-line">Manage Profile</h2>
                           
                             <label for="username"><b>Your Name</b></label>

                             <input type="text" value="{{user.username}}" name="username" required>

                             <br />
                             <br />
                             
                              <label for="email"><b>Login Email Address</b></label>
                    <input type="email" value="{{user.email}}" name="email" {{#if errorMessage.email}} class="error" {{/if}} required>



                    {{#if errorMessage.email}}
                       <br /><br />{{ errorMessage.email }}
                    {{/if}}

                  
                             <br />
                            <br />

                             <label for="company_name"><b>Company Name</b></label>
                             <input type="text" value="{{user.company.company_name}}" name="company_name" >

                            

                            <br />
                             <br />

                              <label for="password"><b>Update Password</b></label>
                    <input type="password" placeholder="Enter New Password" name="password" id="password" {{#if errorMessage.password_match}} class="error" {{/if}} > 
                     
                        {{#if errorMessage.password_match}}
                        <br /><br />{{ errorMessage.password_match }}
                        {{/if}}
                   
                             <br />
                    <br />

                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input type="password" placeholder="Repeat New Password" name="confirm_password" id="confirm_password" {{#if errorMessage.password_match}} class="error" {{/if}} >
                    
                    <br /><br />
                    <button name="save" type="submit">Save</button>

<br />

                


                    <br />
                              <br />
                    <h4>Advanced Settings</h4>
                  
                     <br />

                              <label for="email"><b>Email address you can schedule from</b></label>
                    <input type="text" style="background: #e5e5e5;text-color:#333" value="{{user.user_id}}" name="user_id" >

                           
                             <br />

                             <br />

                              <label for="email"><b>Company-wide domain allowed to schedule from</b></label>
                    <input type="text" style="background: #e5e5e5;text-color:#333" value="{{user.email_domain}}" name="email_domain" >

                    
                    
                    </form>	

                     <p><a href="/data-sources/">Cancel</a></p>


				</div>
			</div>
			<div class="section gutter footer">
				{{> footer }}
			</div>
		</div>
	</div>	
</div>

<div class="test"></div>
	
	{{> scripts }}


</body>

</html>