<div class="inline-form">



{{#if sessionFlash.message}}
	{{#contains sessionFlash.type "info"}}
	<div class="flash-message">
		<p>{{{sessionFlash.message}}}</p>
	</div>
	{{/contains}}
{{/if}}

<div class="card">

<form method="POST" action="/profile/" class="form">
                        
            <h2 class="with-line">Manage Profile</h2>
           
            <div class="input-group">
             <label for="username"><b>Your Name</b></label>
             <input type="text" value="{{user.username}}" name="username" required>
         </div>
           
            <div class="input-group">  
              <label for="email"><b>Login Email Address</b></label>
    <input type="email" value="{{user.email}}" name="email" {{#if errorMessage.email}} class="error" {{/if}} required>

    {{#if errorMessage.email}}
       <p class="alert">{{ errorMessage.email }}</p>
    {{/if}}

        </div>
  
            <div class="input-group">
             <label for="company_name"><b>Company Name</b></label>
             <input type="text" value="{{user.company.company_name}}" name="company_name" >
         </div>
            
         <div class="input-group">
              <label for="password"><b>Update Password</b></label>
    <input type="password" placeholder="Enter New Password" name="password" id="password" {{#if errorMessage.password_match}} class="error" {{/if}} > 
     
        {{#if errorMessage.password_match}}
        <p class="alert">{{ errorMessage.password_match }}</p>
        {{/if}}
    </div>

    <div class="input-group">
    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat New Password" name="confirm_password" id="confirm_password" {{#if errorMessage.password_match}} class="error" {{/if}} >
    </div>
   

    <div class="actions">
    <button name="save" type="submit">Save</button>
    <p><a href="/data-sources/">Cancel</a></p>
    </div>

</div>

<div class="card">


    <h2 class="with-line">Advanced Settings</h2>
  

    <div class="input-group">
              <label for="email"><b>Email address you can schedule from</b></label>
    <input type="text" value="{{user.user_id}}" name="user_id" >
</div>
           
            <div class="input-group">

              <label for="email"><b>Company-wide domain allowed to schedule from</b></label>
    <input type="text" value="{{user.email_domain}}" name="email_domain" >
        </div>
    
    
    </form>	



</div>

</div>
			