<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/signup.css" />            
        <script src="/assets/js/form-validate.js"></script>
    </head> 
    <body>       
        <div id="id01">         
            <form class="modal-content" action="/profile" method="post">
                <div class="container">
                    <h1>Manage Profile</h1>
                    <p>You can update profile infos here</p>
                    <hr>
                    
                    <label for="username"><b>Administrator Name</b></label>
                    <input type="text" placeholder={{user.username}} name="username" required>
                    
                    
                    <label for="email"><b>Email Address</b></label>
                    <input type="email" placeholder={{user.email}} name="email" {{#if errorMessage.email}} class="error" {{/if}} required>

                    {{#if errorMessage.email}}
                        <p class="alert">{{ errorMessage.email }}</p>
                    {{/if}}
                 
                  
                    <label for="company_name"><b>Company Name</b></label>
                    <input type="text" placeholder={{user.company_name}} name="company_name" required>        

                    <label for="company_id"><b>Company ID</b></label>
                    <input type="text" placeholder={{user.company_id}} name="company_id" required>  

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" id="password" required> 
                     

                    {{#if errorMessage}}
                        {{#if errorMessage.password_match}}
                        <p class="alert">{{ errorMessage.password_match }}</p>
                        {{/if}}
                    {{/if}}                        

                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input type="password" placeholder="Repeat Password" name="confirm_password" id="confirm_password" {{#if errorMessage.email}} class="error" {{/if}} required>
                    
                    {{#if errorMessage}}
                        {{#if errorMessage.password_match}}
                        <p class="alert">{{ errorMessage.password_match }}</p>
                        {{/if}}
                    {{/if}}                       
                     
                    <label>
                        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                    </label>
                    
                    <div class="clearfix">
                        <a href="/" class="cancelbtn">Cancel</a>
                        <button type="submit" class="signupbtn">Save</button>
                    </div>
                </div>
            </form>
        </div>

        {{> scripts }}
        
    </body> 
</html>
