{{> head }}
	<body>
		<div class='tb-schedule'>
			<table>
				<thead>
					<th>No</th>
					<th>Meeting Name</th>
					<th>Organizer</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>IS_SENT</th>
				</thead>
				<tbody>
					{{#each meetings}}
						<tr>
							<td>{{@index}}</td>
							<td>{{this.meeting_name}}</td>
							<td>{{this.organizer}}</td>
							<td>{{this.start_time}}</td>
							<td>{{this.end_time}}</td>
							<td><input type='checkbox' {{#if this.is_sent}}checked{{/if}} readonly> </td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

		<div class="section gutter footer">
			{{> footer }}
		</div>
	</body>
</html>
