{{> head }}
	
	<body>		
		<div class='tb-schedule'>

			<style type="text/css">
				ul.schedule li span {
					display: inline-block;
					margin-right: 10px;
				}

				ul.schedule {
					list-style-type: none;
				}

				ul.schedule li {
					list-style-type: none;
					margin-bottom: 5px;
					display: block;
					border-bottom: 1px solid #e5e5e5;
					padding: 15px 10px;
				}

	
			</style>


			<h2>View Meeting Table Data</h2>
			<ul class="schedule">
					{{#each meetings}}
						<li>
							<span><strong>User Id:</strong> {{this.UserId}}</span>
							<span><strong>To:</strong> {{this.to}}</span>
							<span><strong>Company Id:</strong> {{this.email_domain}}</span>
							<span><strong>Summary:</strong> {{this.summary}}</span>
							<span><strong>Organizer:</strong> {{this.organizer}}</span>
							<br />
							<span><strong>Start:</strong> {{moment this.start_time format="ddd, MMMM D [at] h:mma"}}</span>
							<span><strong>.ics:</strong> {{this.file_name}}</span>
							<span><strong>Timestamp:</strong> {{moment this.dtstamp_time format="ddd, MMMM D [at] h:mma"}}</span>
							<span><strong>Created:</strong> {{moment this.created_time format="ddd, MMMM D [at] h:mma"}}</span>
							<br />
							<span><strong>Sequence:</strong> {{this.sequence}}</span>
							<span><strong>Sent?:</strong> {{#if this.is_sent}}sent{{/if}}</span>
						</li>
					{{/each}}
				</ul>
		</div>

		<div class="section gutter footer">
			{{> footer }}
		</div>

		{{> scripts }}
		
	</body>
</html>
