{{> head }}
	
	<body>		
		<div class='tb-schedule'>
			<h2>View Meeting Table Data</h2>
			<table>
				<thead>
					<th>To</th>
					<th>Meeting Name</th>
					<th>Organizer</th>
					<th>Start Time</th>
					<th>Start Date</th>
					<th>User Id</th>
					<th>Meeting Id</th>
					<th>File Name</th>
					<th>Timestamp Time</th>
					<th>Created Time</th>
					<th>Sequence</th>
					<th>is sent?</th>
				</thead>
				<tbody>
					{{#each meetings}}
						<tr>
							<td style="font-size: 10px;">{{this.to}}</td>
							<td style="font-size: 10px;">{{this.meeting_name}}</td>
							<td style="font-size: 10px;">{{this.sender}}</td>
							<td style="font-size: 10px;">{{moment this.start_time format="ddd, MMMM D [at] h:mma"}}</td>
							<td style="font-size: 10px;">{{this.start_date}}</td>
							<td style="font-size: 10px;">{{this.UserId}}</td>
							<td style="font-size: 10px;">{{this.meeting_id}}</td>
							<td style="font-size: 10px;">{{this.file_name}}</td>
							<td style="font-size: 10px;">{{moment this.dtstamp_time format="ddd, MMMM D [at] h:mma"}}</td>
							<td style="font-size: 10px;">{{moment this.created_time format="ddd, MMMM D [at] h:mma"}}</td>
							<td style="font-size: 10px;">{{this.sequence}}</td>
							<td style="font-size: 10px;">{{#if this.is_sent}}sent{{/if}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

		<div class="section gutter footer">
			{{> footer }}
		</div>
	</body>
</html>
